ROKEY/AI/PyTorch_DeepLearning_Programming/pythonlibs/
ROKEY/AI/PyTorch_DeepLearning_Programming/data/
ROKEY/AI/AI_Applications/fig/
ROKEY/AI/AI_Basic/AI_Basic_Study/data/
ROKEY/AI/AI_Basic/AI_Basic_Study/pythonlibs
ROKEY/AI/AI_Basic/AI_Basic_Study/dog_wolf
ROKEY/AI/AI_Basic/AI_Basic_Study/figure
ROKEY/AI/AI_Basic/AI_Basic_Study/opencv_face_detector
ROKEY/AI/AI_Basic/AI_Basic_Study/VOC_dataset/
ROKEY/AI/AI_Basic/AI_Basic_Study/yolo_v3_pb