ROKEY/AI/PyTorch_DeepLearning_Programming/pythonlibs/
ROKEY/AI/PyTorch_DeepLearning_Programming/data/
ROKEY/AI/AI_Applications/fig/
ROKEY/AI/AI_Basic/AI_Basic_Study/data/
ROKEY/AI/AI_Basic/AI_Basic_Study/pythonlibs